<div class="mt-4">
   <div class="d-flex justify-content-end">
      <button class="addTask" (click)="openDialog()">Add Task</button>
   </div>
   <form action="" class="row mt-3">
      <div class="col-md-3">
         <mat-form-field appearance="outline" class="w-100">
             <mat-label>Search</mat-label>
             <input matInput  placeholder="title search">
         </mat-form-field>
     </div>  
      <div class="col-md-3">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label>By User</mat-label>
            <mat-select >
                <mat-option >
                  mohamed tharwat
                </mat-option>
            </mat-select>
        </mat-form-field>
     </div>  
      <div class="col-md-3">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select>
                <mat-option>
                  admin
                </mat-option>
              </mat-select>
         </mat-form-field>
      </div> 
      <div class="col-md-3">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label>date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
     </div>  
   </form>
   <div class="table-responsive">
      <table class="table">
         <tr class="header">
            <td >No.</td>
            <td >Title</td>
            <td >User</td>
            <td >DeatLine Date</td>
            <td >Status</td>
            <td >Action</td>
         </tr>
         <tr *ngFor="let item of tasks;let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.title}}</td>
            <td>{{item.username}}</td>
            <td>{{item.deadline}}</td>
            <td>{{item.status}}</td>
            <td><button (click)=" updateTsak(item)"><i class="fa-solid fa-pen"></i></button> <button (click)="deleteTask(item.id)"><i class="fa-solid fa-trash"></i></button></td>
         </tr>
      </table>
   </div>
</div>