<div class="mt-4">
   <div class="d-flex justify-content-end">
      <button class="addTask" (click)="openDialog()">Add Task</button>
   </div>
   <form action="" class="row mt-3">
      <div class="col-md-3">
         <mat-form-field appearance="outline" class="w-100">
               <mat-label>Search</mat-label>
               <input matInput  placeholder="title search" (keyup)="searchByTitle($event)">
         </mat-form-field>
      </div>  
      <div class="col-md-3">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label>By User</mat-label>
            <mat-select (valueChange)="serachByUser($event)">
               <mat-option>
                  None
               </mat-option >
               <mat-option *ngFor="let user of users" [value]="user.id" >
                  {{user.name}}
               </mat-option>
            </mat-select>
         </mat-form-field>
      </div>  
      <div class="col-md-3">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select (valueChange)="serachByStatus($event)">
               <mat-option value="">
                  All
               </mat-option>
               <mat-option value="Complete">
                  complete
               </mat-option>
               <mat-option value="In-Progress">
                  In-Progress
               </mat-option>
            </mat-select>
         </mat-form-field>
      </div> 
      <div class="col-md-3">
         <mat-form-field appearance="outline" class="w-100">
            <mat-label>date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
               <input matStartDate placeholder="Start date"  (dateChange)="searchByDate($event,'fromDate')">
               <input matEndDate placeholder="End date" (dateChange)="searchByDate($event,'toDate')">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
         </mat-form-field>
      </div>  
   </form>
   <div class="table-responsive">
      <table class="table">
         <tr class="header">
            <td >No.</td>
            <td >Title</td>
            <td >User</td>
            <td >DeatLine Date</td>
            <td >Status</td>
            <td >Action</td>
         </tr>
         <tr *ngFor="let item of tasks | paginate: { id: 'tasks',
         itemsPerPage: 10,
         currentPage: page,
         totalItems: total }">
            <td><img [src]="'https://crud-ybsz.onrender.com/'+item.image" alt=""></td>
            <td>{{item.title}}</td>
            <td>{{item.username}}</td>
            <td>{{item.deadline}}</td>
            <td>{{item.status}}</td>
            <td><button (click)=" updateTsak(item)"><i class="fa-solid fa-pen"></i></button> <button (click)="deleteTask(item.id)"><i class="fa-solid fa-trash"></i></button></td>
         </tr>
      </table>
   </div>
   <div class="d-flex justify-content-center align-items-center mt-3">
      <pagination-controls   class="my-pagination"
         (pageChange)="pageChanged($event)" id="tasks"
         previousLabel="Prev"
         nextLabel="Next">
      </pagination-controls>
   </div>
</div>
